html,body {
  padding: 0px;
  margin: 0px;
}

.img-circle {
border-radius: 50%;
}

/*鼠标样式*/
/*手*/
.cursor-pointer {
  cursor:pointer;
}
/*--------字体--------*/
/*--------尺寸font-size--------*/
.fs-xl {
  font-size: 20px;
}

.fs-l {
  font-size: 18px;
}

.fs-m {
  font-size: 16px;
}

.fs-s {
  font-size: 14px;
}

.fs-xs {
  font-size: 13px;
}

.fs-xxs {
  font-size: 12px;
}
/*--------尺寸font-size END--------*/
/*--------颜色color--------*/
.fc-black {
  color: #000000
}
.fc-gray {
  color: #999c9e;
}
/*--------颜色color END--------*/
/*--------粗细font-weight--------*/
.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.fw-lighter {
  font-weight: lighter;
}
/*--------粗细font-weight END--------*/
/*--------间距letter-spacing--------*/
.fls-0-1 {
  letter-spacing: 0.1em;
}
.fls-0-2 {
  letter-spacing: 0.2em;
}
.fls-0-5 {
  letter-spacing: 0.5em;
}
/*--------间距letter-spacing End---------*/
/*--------字体 END--------*/
/*--------菜单--------*/
/*--------1级菜单--------*/
.menu-1 {
  background-color: #00000000;
}
.menu-2 {
  background-color: #00000040;
}
.menu-3 {
  background-color: #00000080;
}
.menu-4 {
  background-color: #000000BF;
}

/*--------菜单 END--------*/
