html, body {
  padding: 0px;
  margin: 0px;
}

.img-circle {
  border-radius: 50%;
}

/*鼠标样式*/
/*手*/
.cursor-pointer {
  cursor: pointer;
}

/*--------字体--------*/
/*--------尺寸font-size--------*/
.fs-xl {
  font-size: 20px;
}

.fs-l {
  font-size: 18px;
}

.fs-m {
  font-size: 16px;
}

.fs-s {
  font-size: 14px;
}

.fs-xs {
  font-size: 13px;
}

.fs-xxs {
  font-size: 12px;
}

/*--------尺寸font-size END--------*/
/*--------颜色color--------*/
.fc-white {
  color: #FFFFFF
}
.fc-black {
  color: #000000
}

.fc-gray {
  color: #999c9e;
}

/*--------颜色color END--------*/
/*--------粗细font-weight--------*/
.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.fw-lighter {
  font-weight: lighter;
}

/*--------粗细font-weight END--------*/
/*--------间距letter-spacing--------*/
.fls-0-1 {
  letter-spacing: 0.1em;
}

.fls-0-2 {
  letter-spacing: 0.2em;
}

.fls-0-5 {
  letter-spacing: 0.5em;
}

/*--------间距letter-spacing End---------*/
/*--------字体 END--------*/


/*--------菜单 END--------*/
/*--------上下布局--------*/
.el-search-row {
  margin-bottom: 5px;

&
:last-child {
  margin-bottom: 0;
}

}

.el-divider__text {
  background-color: #f7f7f8;
}

.el-menu-item, .el-submenu__title {
  font-size: 12px !important;
}

.el-search-row .el-form-item {
  margin-bottom: -3px;
}

.data-list .el-divider--horizontal {
  margin: 18px 0;
}

/*-------- 登陆框字体 --------*/
.login .el-form-item__label {
  font-size: 20px !important;
  font-weight: bolder;
  color: black;
}

/*-------- el-popover 背景颜色和箭头背景颜色 --------*/
.el-popover {
  background-color: #E6A23CF2 !important;
}

.popper__arrow::after {
  border-bottom-color: #E6A23CF2 !important;
}

/*--------table附加--------*/
.demo-table-expand {
  font-size: 0;
}

.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}

.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}



.el-menu {
  background-color: #00000000;
}

#home .el-badge__content.is-fixed {
  top: 10px;
}

/*抽屉滚动条*/
.el-drawer__body {
  overflow: auto;
}

.login .el-input__inner {
  background-color: #FFFFFF1A !important;
  color: #FFFFFF;
}

/*Home*/
/*左侧背景颜色*/
.home-left-bg {
  /*background-color: #9970dbCC;*/
  background-color: #6EA7E4CC;
}
/*menu的颜色*/
/*.home-left-menu-color {*/
/*  color:#1A091A;*/
/*}*/

/*左侧菜单图标的颜色*/
#menu .el-submenu__title i,#menu .el-menu-item i {
  color:#1A091A;
}
.el-menu-item.is-active i {
  color: inherit !important;
}
  /*左侧菜单的高度*/
.el-menu-item,.el-submenu__title {
  height:48px !important;
  line-height: 48px !important;
  font-size:8px;
}
/*菜单悬浮背景色*/
#menu .el-menu-item:focus,#menu .el-menu-item:hover,#menu .el-submenu__title:focus,#menu .el-submenu__title:hover{
  background-color: #FFFFFF;
}
/*--------1级菜单--------*/
.menu-1 {
  background-color: #00000000;
  border-bottom: 1px solid #0000000D;
}

.menu-2 {
  /*background-color: #00000040;*/
  background-color: #0000001A;
}

.menu-3 {
  /*background-color: #00000080;*/
  background-color: #00000033;
}

.menu-4 {
  background-color: #000000BF;
}

.el-tooltip__popper.is-dark {
  background: darkgrey !important;
}

